<!DOCTYPE html>
<html>
<head>
  <title>Popthatfeeling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <ul id="slide-out" class="side-nav">
  	<li><%= link_to 'popthatfeeling', root_path %></li>
    <li><%= link_to 'but why?', why_path %></li>
    <li><%= link_to 'contact', contact_path %></li>
  </ul>
  <a style="position:absolute; top:10px; left:10px;"href="#" data-activates="slide-out" class="button-collapse"><i style="line-height:1;" class="medium mdi-navigation-menu"></i></a>

<%= yield %>

  	<script>
		$(".button-collapse").sideNav();
	</script>

</body>
</html>
