<!DOCTYPE html>
<html>
<head>
  <title>Popthatfeeling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="display:none;">
  <nav>
   <div class="nav-wrapper">
      <a data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

     
    <ul id="right-links" class="right">
    </ul>
    <ul id ="count-links" class="right">
      <li><a id="cloud"><i class="material-icons left">cloud</i><span>0</span></a></li>
      <li><a id="person"><i class="material-icons left">person</i><span>0</span></a></li>
    </ul>
    

    <ul id="slide-out" class="side-nav">
      <li><%= link_to 'popthatfeeling', root_path %></li>
      <li><%= link_to 'why', why_path %></li>
      <li><%= link_to 'stats', stats_path %></li>
      <li><%= link_to 'contact', contact_path %></li>
    </ul>
  
    </div>
  </nav>
  
<%= yield %>

  <script>
  	$(".button-collapse").sideNav();
  </script>

</body>
</html>
