<!DOCTYPE html>
<html>
<head>
  <title>Popthatfeeling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <nav>
   <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu medium"></i></a>
     
    <ul id="right-links" class="right hide-on-med-and-down">
      
    </ul>
    <ul id="slide-out" class="side-nav">
      <li><%= link_to 'popthatfeeling', root_path %></li>
      <li><%= link_to 'but why?', why_path %></li>
      <li><%= link_to 'contact', contact_path %></li>
    </ul>
  
    </div>
  </nav>
  
<%= yield %>

  <script>
  	$(".button-collapse").sideNav();
  </script>

</body>
</html>
